@import 'icons';

@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/FuturaBookC.eot');
    src: url('../fonts/FuturaBookC.woff2') format('woff2'),
         url('../fonts/FuturaBookC.woff') format('woff'),
         url('../fonts/FuturaBookC.ttf') format('ttf'),
         url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/FuturaDemiC.eot');
    src: url('../fonts/FuturaDemiC.woff2') format('woff2'),
            url('../fonts/FuturaDemiC.woff') format('woff'),
            url('../fonts/FuturaDemiC.ttf') format('ttf'),
            url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'FuturaLightC';
    src: url('../fonts/FuturaLightC.eot');
    src: url('../fonts/FuturaLightC.woff2') format('woff2'),
            url('../fonts/FuturaLightC.woff') format('woff'),
            url('../fonts/FuturaLightC.ttf') format('ttf'),
            url('../fonts/FuturaLightC.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/FuturaMediumC.eot');
    src: url('../fonts/FuturaMediumC.woff2') format('woff2'),
            url('../fonts/FuturaMediumC.woff') format('woff'),
            url('../fonts/FuturaMediumC.ttf') format('ttf'),
            url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    }