.footer{
    padding: 15px;
}
.side-border{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 150px;
    background: #c7c7c7;
    top: 0;
    left: 9px;
    @include bp (lg){
      left: -2px;
    }
    @include bp (md){
      left: -5px;
    }
    @include bp (sm){
      width: 50px;
      height: 1px;
      top: 0;
      left: calc(50% - 25px);
    }
  }
  &.left{
    &::before{
      left: -52px;
      @include bp (lg){
        left: -42px;
      }
      @include bp (md){
        left: -2px;
      }
      @include bp (sm){
        width: 50px;
        height: 1px;
        top: 0;
        left: calc(50% - 25px);
      }
    }
  }
  @include bp (sm){
  padding-top: 5px;
}
}

.footer__title{
    text-transform: uppercase;
    color: #484848;
    font-family: 'FuturaMediumC';
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    @include bp (md){
        font-size: 15px;
    }
    @include bp (sm){
       margin-top: 15px;
     }
}

.footer-list{
    color: #484848;
    font-family: 'FuturaMediumC';
    font-size: 16px;
    list-style: none;
    @include bp (md){
        font-size: 12px;
    }
}

.footer__contact{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: flex-start;
    &.thanks-page{
        @include bp (xs){
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.footer__contact-phones{
    display: flex;
    align-items: center;
}

.footer__contact-list{
    margin-left: 10px;
    list-style: none;
  a{
    color: #484848;
  }
}

.footer__contact-mail{
    li{
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
        }
        a{
            color: #484848;
        }
    }
}

.footer__contact-address{
    display: flex;
    align-items: center;
    margin-top: 10px;
    img{
        margin-right: 10px;
    }
    a{
        text-decoration: underline;
        color: #000;
    }
}

.footer__links{
    font-family: 'FuturaBookC';
    a{
        color: #484848;
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px; 
        text-decoration: none;
        margin-bottom: 10px;
        &:hover{
            text-decoration: underline;
        }
        @include bp (md){
            font-size: 14px;
        }
    }
  @include bp (sm){
    margin-bottom: 10px;
  }
}

.footer-row{
    margin-top: 20px;
}

.footer__social{
    display: flex;
    li{
        border: 1px solid #484848;
        padding: 7px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
        }
    }
}

.footer-delivery-list{
    display: flex;
    align-items: center;
    li{
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
    &.thanks-page{
        @include bp (sm){
            flex-wrap: wrap;
        }
    }
}

.footer-pay-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-vertical-align{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include bp (sm){
    display: block;
  }
}

.subscribe-form{
  padding: 10px 0;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
  p{
    font-size: 18px;
    text-align: center;
    margin: 5px 0 10px;
    color: #484848;
    text-transform: uppercase;
  }
  div{
    display: flex;
    align-items: center;
    justify-content: center;
    @include bp (xs){
      flex-direction: column;
    }
  }
  input{
    outline: none;
    font-size: 16px;
    font-family: 'FuturaBookC';
    padding: 8px 5px;
    width: 200px;
    color: #484848;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #484848;
    transition: .3s;
    &::placeholder{
      font-size: 16px;
      color: #484848
    }
    @include bp (sm){
      width: 100%;
    }
  }
  button{
    text-align: center;
    width: 200px;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    background: #f66070;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 11px;
    font-family: 'FuturaDemiC';
    &:hover{
      background: #e95362;
    }
    @include bp (sm){
      width: 100%;
    }
  }
}