.footer{
    padding: 15px;
    margin-top: 30px;
}

.footer__title{
    text-transform: uppercase;
    color: #484848;
    font-family: 'FuturaMediumC';
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    @include bp (md){
        font-size: 15px;
    }
}

.footer-list{
    color: #484848;
    font-family: 'FuturaMediumC';
    font-size: 16px;
    list-style: none;
    @include bp (md){
        font-size: 12px;
    }
}

.footer__contact{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &.thanks-page{
        @include bp (xs){
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.footer__contact-phones{
    display: flex;
    align-items: center;
}

.footer__contact-list{
    margin-left: 10px;
    list-style: none;
}

.footer__contact-mail{
    li{
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
        }
        a{
            color: #484848;
        }
    }
}

.footer__contact-address{
    display: flex;
    align-items: center;
    margin-top: 10px;
    img{
        margin-right: 10px;
    }
    a{
        text-decoration: underline;
        color: #000;
    }
}

.footer__links{
    font-family: 'FuturaBookC';
    a{
        color: #484848;
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px; 
        text-decoration: none;
        margin-bottom: 10px;
        &:hover{
            text-decoration: underline;
        }
        @include bp (md){
            font-size: 14px;
        }
    }
}

.footer-row{
    margin-top: 20px;
}

.footer__social{
    display: flex;
    li{
        border: 1px solid #484848;
        padding: 7px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
        }
    }
}

.footer-delivery-list{
    display: flex;
    align-items: center;
    li{
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
    &.thanks-page{
        @include bp (sm){
            flex-wrap: wrap;
        }
    }
}

.footer-pay-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}