.article-body{
    margin-top: 15px;
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;

    }
}

.acticle-body__date{
    font-family: 'FuturaBookC';
    font-size: 14px;
    color: #484848;
    margin: 10px 0 10px 0;
}

.acticle-body__text, .acticle-body__text p{
    font-family: 'FuturaBookC';
    font-size: 15px;
    color: #484848;
    margin: 10px 0;
}

.subscribe__form{
    width: 100%;
    padding: 20px 15px;
    box-shadow: 3px 4px 16px -4px rgba(0,0,0,0.75);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    P{
        color: #000;
        font-size: 20px;
        font-family: 'FuturaBookC';
        text-align: center;
        margin-bottom: 20px;
        span{
            color: #f66070;
        }
    }
    input{
        outline: none;
        border: 1px solid #8a8787;
        padding: 5px;
        height: 40px;
        font-size: 12px;
        font-family: 'FuturaDemiC';
        color: #484848;
        margin-right: 5px;
        text-align: center;
        width: 250px;
        &::placeholder{
            font-size: 12px;
            font-family: 'FuturaDemiC';
            color: #c3c3c3;
            text-align: center;
        }
        &:focus{
            border: 1px solid #000000;
        }
        @include bp (md){
            width: 150px;
        }
        @include bp (sm){
            width: 100%;
        }
    }
    button{
        text-align: center;
        width: 250px;
        padding: 10px 0;
        color: #fff;
        font-size: 14px;
        background: #f66070;
        border: none;
        outline: none;
        margin-bottom: 10px;
        margin-top: 15px;
        font-family: 'FuturaDemiC';
        &:hover{
            background: #e95362;
        }
        @include bp (md){
            width: 150px;
        }
        @include bp (sm){
            width: 100%;
        }
    }
}

.article-aside-title{
    color: #000;
    font-size: 20px;
    font-family: 'FuturaBookC';
    text-align: center;
    margin: 15px 0;
}

.article-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    @include bp (xs){
        margin-top: 10px;
    }
}

.article-prev{
    display: block;
    text-decoration: none;
    color: #484848;
    font-size: 16px;
    width: 40%;
    text-align: center;
    padding: 10px 0;
    font-family: 'FuturaBookC';
    border: 1px solid #c3c3c3;
    &:hover{
        background: #c3c3c34f;
        text-decoration: none;
        color: #484848
    }
    @include bp (xs){
        width: 50%;
        font-size: 14px;
    }
}

.article-next{
    display: block;
    text-decoration: none;
    color: #484848;
    font-size: 16px;
    width: 40%;
    text-align: center;
    padding: 10px 0;
    font-family: 'FuturaBookC';
    border: 1px solid #c3c3c3;
    &:hover{
        background: #c3c3c34f;
        text-decoration: none;
        color: #484848
    }
    @include bp (xs){
        width: 50%;
        font-size: 14px;
    }
}