.logIn-popup__container{
    display: flex;
    align-items: center;
    position: relative;
    @include bp (sm){
        flex-direction: column;
    }
    .mfp-close{
        color: #fff;
        font-weight: bold;
        font-family: 'FuturaMediumC';
        font-size: 50px;
        top: -40px;
        right: -40px;
        @include bp (md){
            top: 0;
            right: 0;
            color: #000;
        }
    }
}

.logIn-popup__container-title{
    font-size: 25px;
    color: #000;
    font-family: 'FuturaMediumC';
    padding: 5px 0;
    margin-bottom: 10px;
}

.logIn-popup__container-registr{
    width: 50%;
    padding: 25px;
    background: #fff;
    height: 340px;
    @include bp (sm){
        width: 100%;
    }
    ul{

        li{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-family: 'FuturaBookC';
            color: #000;
            img{
                margin-right: 10px;
            }
        }
    }
    @include bp (xs){
        height: initial;
        padding: 15px;
    }
}

.regist-btn{
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #000;
    font-size: 18px;
    font-family: 'FuturaDemiC';
    margin: 20px 0;
    border: 1px solid #000;
    text-align: center;
    &:hover{
        text-decoration: none;
        color: #f66070
    }
}

.logIn-popup__container-social{
    display: flex;
    align-items: center;
    p{
        margin-right: 10px;
    }
    img{
        margin-right: 10px;
        opacity: .8;
        &:hover{
            opacity: 1;
        }
    }
}

.logIn-popup__container-enter{
    width: 50%;
    padding: 25px;
    background: #feeff0;
    height: 340px;
    @include bp (sm){
        width: 100%;
    }
}

.logIn-form{
    input{
        width: 100%;
        padding: 5px;
        color: #7d7d7d;
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
        border: 1px solid #7d7d7d;
        outline: none;
        margin-bottom: 10px;
        background: transparent;
        font-family: 'FuturaDemiC';
        &::placeholder{
            color: #7d7d7d;
            font-size: 16px;
        }
        &:focus{
            border: 1px solid #585858;
        }
        &:first-child{
            margin-top: 20px;
        }
    }
    button{
        width: 100%;
        padding: 15px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background: #f66070;
        border: none;
        outline: none;
        margin-bottom: 10px;
        font-family: 'FuturaDemiC';
        &:hover{
            background: #e95362;
        }
    }
}

.registration-popup__container{
    background: #fff;
    padding: 25px;
    position: relative;
    .mfp-close{
        color: #fff;
        font-weight: bold;
        font-family: 'FuturaMediumC';
        font-size: 50px;
        top: -40px;
        right: -40px;
        @include bp (md){
            top: 0;
            right: 0;
            color: #000;
        }
    }
    ul{
        display: flex;
        margin: 10px 0;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            display: flex;
            align-items: center;
            font-size: 16px;
            margin: 0 5px 20px;
            font-family: 'FuturaBookC';
            color: #000;
            height: 42px;
        }
        @include bp (sm){
            flex-direction: column;
        }
    }
}

.registration-popup__container-title{
    font-size: 25px;
    color: #000;
    font-family: 'FuturaMediumC';
    padding: 5px 0;
    margin-bottom: 10px;
}

.registration-popup__container-subtitle{
    font-size: 16px;
    color: #000;
    font-family: 'FuturaDemiC';
    margin-bottom: 20px;
    a{
        color: #f66070;
        &:hover{
            color: #e95362;
        }
    }
}

.registration-popup__container-form{
    width: 90%;
    margin: 0 auto;
    input{
        display: inline-block;
        width: calc(50% - 2.5px);
        color: #7d7d7d;
        font-size: 16px;
        text-align: center;
        padding: 10px 5px;
        border: 1px solid #7d7d7d;
        outline: none;
        margin-bottom: 10px;
        background: transparent;
        font-family: 'FuturaDemiC';
        &::placeholder{
            color: #7d7d7d;
            font-size: 16px;
        }
        &:focus{
            border: 1px solid #585858;
        }
        &:nth-child(2n){
            margin-right: 5px;
        }
        &:first-child{
            width: 100%;
        }
        @include bp (sm){
            width: 100%;
        }
    }
    button{
        width: 50%;
        margin-left: calc(50% - 25%);
        padding: 15px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background: #f66070;
        border: none;
        outline: none;
        margin-bottom: 10px;
        font-family: 'FuturaDemiC';
        &:hover{
            background: #e95362;
        }
        @include bp (sm){
            width: 100%;
            margin-left: 0;
        }
    }
}

.oneClick__container{
    position: relative;
    background: #fff;
    padding: 25px;
    @include bp (xs){
        padding: 15px;
    }
    .mfp-close{
        color: #fff;
        font-weight: bold;
        font-family: 'FuturaMediumC';
        font-size: 50px;
        top: -40px;
        right: -40px;
        @include bp (md){
            top: 0;
            right: 0;
            color: #000;
        }
    }
}

.oneClick__container-title{
    color: #000;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'FuturaDemiC';
    text-align: center;
    line-height: 25px;
}

.oneClick__container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input{
        width: 300px;
        color: #7d7d7d;
        font-size: 16px;
        text-align: center;
        padding: 10px 5px;
        border: 1px solid #7d7d7d;
        outline: none;
        margin-bottom: 10px;
        background: transparent;
        font-family: 'FuturaDemiC';
        &::placeholder{
            color: #7d7d7d;
            font-size: 16px;
        }
        &:focus{
            border: 1px solid #585858;
        }
        @include bp (xs){
            width: 100%;
        }
    }
    button{
        width: 300px;
        padding: 15px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background: #f66070;
        border: none;
        outline: none;
        margin-bottom: 10px;
        font-family: 'FuturaDemiC';
        &:hover{
            background: #e95362;
        }
        @include bp (xs){
            width: 100%;
        }
    }
}

.partPay__container{
    position: relative;
    background: #fff;
    padding: 25px;
    @include bp (xs){
        padding: 15px;
    }
    .mfp-close{
        color: #fff;
        font-weight: bold;
        font-family: 'FuturaMediumC';
        font-size: 50px;
        top: -40px;
        right: -40px;
        @include bp (md){
            top: 0;
            right: 0;
            color: #000;
        }
    }
}

.partPay__img{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    img{
        width: 380px;
        height: 80px;
        margin: 0 10px;
        @include bp (md){
            width: 250px;
            height: 45px;
        }
        @include bp (sm){
            width: 200px;
            height: 45px;
        }
        @include bp (xs){
            width: 100%;
            height: initial;
        }
    }
    @include bp (xs){
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
}

.sizeTable__container-wrp{
    padding: 25px;
    background: #fff;
    .mfp-close{
        color: #fff;
        font-weight: bold;
        font-family: 'FuturaMediumC';
        font-size: 50px;
        top: -38px;
        right: -24px;
        @include bp (md){
            top: -8px;
            right: 11px;
            color: #000;
        }
    }
    @include bp (sm){
        padding: 5px;
    }
}

.sizeTable__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    img{
        height: 160px;
        margin-right: 20px;
        width: initial;
    }
}

.sizeTable__table{
    width: 100%;
    ul{
        display: flex;
        align-items: center;
        li{
            font-family: 'FuturaDemiC';
            font-size: 16px;
            line-height: 22px;
            color: #585858;
            width: 11.6%;
            text-align: center;
            margin: 4px 0;
            @include bp (sm){
                text-align: left;
            }
        }
        .sizeTable__table-row-title{
            width: 30%;
            position: relative;
        }
        &:first-child{
            .sizeTable__table-row-title::before{
                position: absolute;
                content: '';
                width: 65px;
                height: 25px;
                background: url('../images/sizeStick.png') center no-repeat;
                background-size: contain;
                top: -4px;
                left: -47px;
                transform: rotate(-5deg);
                @include bp (sm){
                    display: none;
                }
            }
        }
        &:nth-child(2){
            .sizeTable__table-row-title::before{
                position: absolute;
                content: '';
                width: 65px;
                height: 25px;
                background: url('../images/sizeStick.png') center no-repeat;
                background-size: contain;
                top: -11px;
                left: -47px;
                transform: rotate(16deg);
                @include bp (sm){
                    display: none;
                }
            }
        }
        &:nth-child(3){
            .sizeTable__table-row-title::before{
                position: absolute;
                content: '';
                width: 65px;
                height: 25px;
                background: url('../images/sizeStick.png') center no-repeat;
                background-size: contain;
                top: -20px;
                left: -47px;
                transform: rotate(26deg);
                @include bp (sm){
                    display: none;
                }
            }
        }
    }
    @include bp (sm){
        padding: 5px;
    }
}

.sizeTable__table-row-letter{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-top: none;
    li{
        font-family: 'FuturaDemiC';
        font-size: 16px;
        line-height: 22px;
        color: #585858;
        width: 11.6%;
        text-align: center;
        margin: 4px 0;
        @include bp (sm){
            text-align: left;
        }
        &:nth-child(1){
            width: 77px;
            @include bp (sm){
                display: none;
            }
        }
        &:nth-child(2){
            width: 30%;
            @include bp (sm){
                word-break: break-all;
            }
        }
        @include bp (sm){
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    sup{
        font-size: 12px;
    }
    @include bp (sm){
        padding: 5px;
    }
}

.partPay__form-wrp{
    background: #fff7f8;
    padding: 10px 4px;
}

.partPay__total{
    background: #fff;
    border: 1px solid #c7c7c7;
    padding: 20px;
    margin-top: 10px;
}

.partPay__total-title{
    font-family: 'FuturaDemiC';
    font-size: 16px;
    line-height: 22px;
    color: #484848;
    margin-top: 10px;
}

.partPay__total-date{
    font-family: 'FuturaBookC';
    font-size: 18px;
    color: #7d7d7d;
    margin-bottom: 10px;
    text-transform: uppercase;
    @include bp (xs){
        font-size: 14px;
    }
}

.partPay__total-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    p{
        font-family: 'FuturaDemiC';
        font-size: 16px;
        line-height: 22px;
        color: #484848;
        width: 23%;
        @include bp (sm){
            width: 100%;
        }
    }
    div{
        display: flex;
        align-items: center;
        width: 77%;
        p{
            color: #585858;
            font-family: 'FuturaBookC';
            font-size: 18px;
            text-align: right;
            padding: 10px;
            border: 1px solid #7d7d7d;
            width: 90%;
            @include bp (sm) {
                font-size: 15px;
            }
        }
        span{
            color: #585858;
            font-family: 'FuturaBookC';
            font-size: 18px;
            text-align: right;
            padding: 10px;
            width: 10%;
            @include bp (sm) {
                font-size: 15px;
            }
        }
        @include bp (sm){
            width: 100%;
        }
    }
    .partPay__total-item-sum{
        width: 20%;
        color: #585858;
        font-family: 'FuturaBookC';
        font-size: 18px;
        text-align: right;
        @include bp (sm) {
            width: 60%;
            font-size: 15px;
        }
    }
    &.sum{
        @include bp (sm) {
            flex-direction: row;
        }
    }
    @include bp (sm) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.partPay__bnt-wrp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    @include bp (sm){
        flex-direction: column;
    }
}

.partPay__btn{
    width: 200px;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-family: 'FuturaDemiC';
    border: none;
    outline: none;
    background: #e62f43;
    &:hover{
        background: #e02d42;
    }
    @include bp (sm){
        width: 100%;
        margin-bottom: 10px;
    }
}

.partPay__promocode-btn{
    font-size: 16px;
    text-align: center;
    font-family: 'FuturaDemiC';
    border: none;
    outline: none;
    color: #e62f43;
    text-decoration: underline;
    width: 200px;
    padding: 15px 0;
    background: transparent;
    @include bp (sm){
        width: 100%;
    }
}

.partPay__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 10px;
    p{
        color: #585858;
        font-family: 'FuturaDemiC';
        font-size: 18px;
        margin: 5px;  
        width: 20%;
        &:nth-child(2){
            width: 10%;
        }
        @include bp (sm){
            font-size: 14px;
        }
    }
    /* Контейнер слайдера */
    .ui-slider {
        position: relative;
    }
    /* Ползунок */
    .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 15px;   /* Задаем нужную ширину */
        height: 15px;  /* и высоту */
        background: #e62f43;
        border-radius: 50%; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
        cursor: pointer;
        outline: none;
        &::before{
            content: attr(value);
            width: 74px;
            height: 34px;
            padding-top: 7px;
            background: url('../images/range.png') center no-repeat;
            background-size: contain;
            position: absolute;
            top: -35px;
            left: -30px;
            color: #fff;
            text-align: center;
            font-size: 12px;
            font-family: 'FuturaDemiC';
            @include bp (xs){
                width: 44px;
                height: 24px;
                top: -20px;
                left: -16px;
            }
        }
    }
    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        overflow: hidden;
    }
    /* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
    .ui-slider-horizontal {
         height: 2px;
         background: #7d7d7d; /* задаем высоту согласно дизайна */
    }
    /* позиционируем ползунки */
    .ui-slider-horizontal .ui-slider-handle { 
        top: -5px;
        margin-left: -6px;
    }
    .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
    }
    .ui-slider-horizontal .ui-slider-range-min { 
        left: 0;
    }
    .ui-slider-horizontal .ui-slider-range-max {
        right: 0;
    }
    /* оформление полосы по которой ходит ползунок */
    .ui-widget-content { 
        // border: 1px solid #7d7d7d;
        background: #7d7d7d;
    }
    /* оформление активного участка (между двумя ползунками) */
    .ui-widget-header { 
        background: #e62f43;
    }
    /* скругление для полосы слайдера */
    .ui-corner-all {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        display: inline-block;
        width: 80%;
        @include bp (sm){
            width: 80%;
            margin-left: 10%;
        }
    }
    .partPaysliderValue{
        background: #fff;
        font-family: 'FuturaBookC';
        color: #585858;
        font-size: 18px;
        text-align: center;
        padding: 5px;
        border: 1px solid #7d7d7d;
        outline: none;
        width: 100%;
        @include bp (sm){
            width: 80px;
        }
    }
    .partPay-inputs__inner{
        display: inline-block;
        width: 15%;
        @include bp (sm){
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 15px;
        }
    }
}

.partPay__credit-range-wrp{
    width: 70%;
    @include bp (sm){
        width: 100%;
    }
}