.product__static-image{
    width: 49%;
    object-fit: cover;
    display: inline-block;
    img{
        width: 100%;
    }
    &:first-child{
       img{
        padding-right: 5px;
       }
    }
    &:last-child{
        img{
            padding-left: 5px;
        }
    }
}

.product-slider{
    margin-top: 10px;
    .slick-slide img{
        padding: 0 5px;
    }
    .slick-prev.slick-arrow, .slick-next.slick-arrow{
        position: absolute;
       top: 50%;
        width: 15px;
        height: 15px;
        color: transparent;
        font-size: 0;
        border: none;
        outline: none;
        @include bp (sm){
            display: none !important;
        }
    }
    .slick-prev.slick-arrow{
        background: url('../images/icons/15.png') center no-repeat;
        background-size: contain;
        left: 10px;
        z-index: 2;
    }
    .slick-next.slick-arrow{
        background: url('../images/icons/16.png') center no-repeat;
        background-size: contain;
        right: 10px;
    }
}

.product-slider__item{
    img{
        object-fit: cover;
        width: 100%;
        @include bp (lg){
            width: 200px;
            height: 232px;
        }
        @include bp (md){
            width: 100%;
            height: initial;
        }
        @include bp (xs){
            width: 100%;
            height: initial;
            object-fit: cover;
        }
    }
}

.product__info-wrp{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include bp (sm){
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.product__info-sale{
    background-color: #f08893;
    font-size: 14px;
    color: #fff;
    padding: 7px 0;
    text-transform: uppercase;
    font-family: 'FuturaMediumC';
    text-align: center;
    width: 50px;
    @include bp (sm){
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 2;
    }
    @include bp (xs){
        right: 0;
    }
}

.product__info-new{
    background-color: #61dc95;
    font-size: 16px;
    color: #fff;
    padding: 7px 0;
    text-transform: uppercase;
    font-family: 'FuturaMediumC';
    text-align: center;
    width: 70px;
}

.product__info-name{
    font-family: 'FuturaMediumC';
    color: #000;
    font-size: 24px;
    margin: 5px 0;
}

.product__info-article{
    color: #000;
    font-size: 16px;
    font-family: 'FuturaBookC';
}

.product__info-price-old{
    text-align: right;
    font-size: 16px;
    color: #484848;
    font-family: 'FuturaDemiC';
    text-decoration: line-through;
    @include bp (sm){
        text-align: center;
    }
}

.product__info-price{
    text-align: right;
    font-size: 20px;
    color: #ff2323;
    font-family: 'FuturaDemiC';
    margin: 5px 0;
    @include bp (sm){
        text-align: center;
    }
}

.product__info-price-economy{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #484848;
    font-family: 'FuturaDemiC';
    img{
        margin-right: 10px;
    }
}

.product__form{
    width: 100%;
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.25);
    padding: 10px 0;
    margin-top: 10px;
    input{
        display: none;
    }
    label{
        margin: 0 5px;
        cursor: pointer;
    }
    input:checked + label{
        transform: scale(1.4);
    }
    button{
        text-align: center;
        width: 100%;
        padding: 15px 0;
        color: #fff;
        font-size: 18px;
        background: #f66070;
        border: none;
        outline: none;
        margin-bottom: 10px;
        font-family: 'FuturaDemiC';
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: url('../images/icons/51.png') center no-repeat;
            background-size: contain;
            top: calc(50% - 15px);
            left: 38%;
            @include bp (lg){
                left: 35%;
            }
            @include bp (xs){
                left: 33%;
            }
        }
        &:hover{
            background: #e95362;
        }
    }
}

.product__form-container{
    padding: 10px;
    border-bottom: 1px solid #000;
    position: relative;
    &.size{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include bp (sm){
            flex-direction: column
        }
    }
    .chosen-container-single .chosen-single span{
        color: #000;
        font-size: 16px;
        font-family: 'FuturaDemiC';
        text-align: center;
    }

    .chosen-container.chosen-container-single{
        width: 100% !important;
       @include bp (sm){
            display: flex;
            justify-content: center;
       }
    }
    
    .chosen-container-single .chosen-single{
        background: transparent;
        border: none;
        box-shadow: none;
        border-radius: 0;
        padding:10px;
        height: initial;
        width: 250px;
        @include bp (sm){
            width: 300px;
        }
    }

    .chosen-container .chosen-results li{
        padding:10px;
    }
    
    .chosen-container-single .chosen-single div{
        width: 25px;
    }
    
    .chosen-container-single .chosen-single div b{
        background: url('../images/icons/17.png') center no-repeat;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx){
        .chosen-container-single .chosen-single div b{
            background-image: url('../images/icons/17.png') center no-repeat !important;
        }
    }
    
    .chosen-search{
        display: none;
    }

    .chosen-container .chosen-results{
        margin: 0;
        padding: 0;
        max-width: 100%;
        max-height: initial;
    }

    .chosen-container .chosen-results li.highlighted{
        background-color: #f66070;
        background-image: linear-gradient(#f66070 20%, #e95161 90%);
        color: #fff;
    }
    
    .chosen-container .chosen-results li{
        font-size: 16px;
        text-align: center;
        font-family: 'FuturaDemiC';
        color: #000;
        height: initial;
    }

    .chosen-container-single .chosen-single span{
        margin-right: 0;
    }

    .chosen-container.chosen-with-drop .chosen-drop{
        width: 250px;
        @include bp (sm){
            width: 300px;
        }
    }
    .product__select-size-wrp{
        position: relative;
        padding-left: 50px;
        @include bp (sm){
            margin-top: 20px;
            width: 100%;
            padding-left: 0px;
        }
    }
    .size-label{
        position: absolute;
        top: calc(50% - 17.5px);
        left: 0px;
        border: 1px solid #484848;
        text-transform: uppercase;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'FuturaDemiC';
        @include bp (sm){
            width: 30px;
            height: 30px;
            font-size: 14px;
            top: calc(50% - 15px);
        }
    }

    .color-label{
        position: absolute;
        top: calc(50% - 15px);
        left: 50px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #000;
    }

    .select-color-item{
        font-family: 'FuturaDemiC';
        color: #000;
        font-size: 14px;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }
}

.product__form-title{
    font-family: 'FuturaDemiC';
    color: #000;
    font-size: 16px;
}

.product__size-table-link{
    font-size: 16px;
    text-decoration: underline;
    display: block;
    margin: 10px;
    font-family: 'FuturaDemiC';
    color: #496cad;
    &:hover{
        color: #496cad;
    }
}

.product__one-click-btn{
    display: inline-block;
    width: calc(50% - 2px);
    padding: 10px;
    color: #f66070;
    border: 2px solid #f66070;
    text-align: center;
    font-family: 'FuturaDemiC';
    span{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: url('../images/icons/one-click.png') center no-repeat;
            background-size: contain;
            left: -35px;
            top: -6px;
        }
    }
    &:hover{
        color: #f66070;
    }
    @include bp (lg){
        font-size: 14px;
    }
    @include bp (md){
        font-size: 12px;
    }
    @include bp (sm){
        font-size: 14px;
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 1300px){
    .product__part-pay-btn{
        font-size: 12px;
    }
}

.product__part-pay-btn{
    display: inline-block;
    width: calc(50% - 2px);
    padding: 10px;
    color: #f66070;
    border: 2px solid #f66070;
    text-align: center;
    font-family: 'FuturaDemiC';
    span{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: url('../images/icons/sale.png') center no-repeat;
            background-size: contain;
            left: -35px;
            top: -6px;
        }
    }
    &:hover{
        color: #f66070;
    }
    @include bp (lg){
        font-size: 14px;
    }
    @include bp (md){
        font-size: 12px;
    }
    @include bp (sm){
        font-size: 14px;
        width: 100%;
        margin: 10px 0;
    }
}

.product__wishlist-btn{
    display: inline-block;
    width: calc(50% - 2px);
    padding: 10px;
    color: #f66070;
    text-align: center;
    margin: 10px 0;
    font-family: 'FuturaDemiC';
    margin-left: 25%;
    span{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            text-decoration: underline;
            background: url('../images/icons/heart1.png') center no-repeat;
            background-size: contain;
            left: -35px;
            top: -6px;
        }
    }
    &:hover{
        color: #f66070;
    }
    @include bp (lg){
        font-size: 14px;
    }
    @include bp (md){
        font-size: 12px;
    }
    @include bp (sm){
        font-size: 14px;
        width: 100%;
        margin: 0;
    }
}

.product__full-descr-btn{
    display: inline-block;
    width: calc(50% - 2px);
    padding: 10px;
    color: #000;
    text-align: center;
    margin: 10px 0;
    font-family: 'FuturaDemiC';
    span{
        position: relative;
        text-decoration: underline;
    }
    &:hover{
        color: #f66070;
    }
    @include bp (lg){
        font-size: 14px;
    }
    @include bp (md){
        font-size: 12px;
    }
    @include bp (sm){
        font-size: 14px;
        width: 100%;
        margin: 0;
    }
}

.product__description-wrp{
    padding: 15px 0;
    margin-top: 10px;
    .nav-tabs{
        border-bottom: 0;
        box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.35);
        position: relative;
        top: 11px;
    }

    .nav-tabs>li{
        padding: 10px 0;
        &:hover{
            background: #f08893;
            a{
                background: #f08893;
                color: #fff;
                border: none;
            }
        }
        &::last-child{
            a{
                border-right: none;
            }
        }
    }

    .nav-tabs>li>a{
        color: black;
        font-family: 'FuturaBookC';
        font-size: 16px;
        padding: 0 15px;
        border-right: 1px solid #000;
        border-radius: 0;
        &:hover{
            border: none;
        }
    }

    .nav-tabs>li.active{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0px;
            width: 100%;
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
        }
        &::after{
            content: '';
            position: absolute;
            bottom: -6px;
            width: 100%;
            height: 8px;
            background: #fff;
        }
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        color: black;
        font-family: 'FuturaBookC';
        font-size: 16px;
        border: none;
        border-right: 1px solid transparent;
        border-radius: 0;
        box-shadow: -49px -50px 16px -49px rgba(0,0,0,0.29);
    }
}


.product__description-tabs-content{
    color: #000;
    padding: 15px 10px;
    box-shadow: 0px 7px 14px -2px rgba(0, 0, 0, 0.35);
    p{
        font-size: 16px;
        font-family: 'FuturaBookC';
        margin: 5px 0;
        line-height: 20px;
    }
}

.product__description-name{
    font-family: 'FuturaDemiC';
    color: #000;
    font-size: 16px;
    margin-right: 5px;
}


.product__description-color{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 100px;
        top: calc(50% - 7.5px);
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    &.black{
        &::before{
            background: #000;
        }
    }
}

.product__description-material{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 150px;
        top: calc(50% - 7.5px);
        width: 15px;
        height: 15px;
    }
    &.suede{
        &::before{
            background: url('../images/icons/material.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}
