.product-card__price-wrp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0 13px;
}

.old-price{
    font-size: 12px;
    text-decoration: line-through;
    font-family: 'FuturaDemiC';
    color: #484848;
    margin-left: 10px;
}

.new-price{
    font-size: 14px;
    font-family: 'FuturaDemiC';
    color: #e84859;
}