.section-5{
    padding: 0 20px 30px;
}

.collection-banner{
    margin-top: 30px;
    img{
        width: 100%;
    }
}

.collection-banner__title{
    font-size: 30px;
    text-transform: uppercase;
    color: #484848;
    font-family: 'FuturaDemiC';
    text-align: center;
    margin-top: 15px;
    @include bp (md){
        font-size: 22px;
    }
}