body, #main-container, footer{
	opacity: 1 !important;
}

@import 'variables';
@import 'vendor';
@import 'fonts';
@import 'mixin';

html, body{
  min-width: 320px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
  list-style: none;
  margin: 0;
}
a{
  text-decoration: none;
  outline: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import 'variables';
@import 'vendor';
@import 'fonts';
@import 'mixin';
@import 'main';
@import 'header';
@import 'footer';
@import 'section-1';
@import 'section-2';
@import 'section-3';
@import 'section-4';
@import 'section-5';
@import 'section-6';
@import 'section-7';
@import 'about';
@import 'product-page';
@import 'popup';
@import 'credit';
@import 'credit1';
@import 'new-product';
@import 'articles';
@import 'delivery';
@import 'one-article';
@import 'exchange';
@import 'products';
@import 'thanks';
@import 'order';
@import 'basket1';
@import 'basket2';
@import 'cabinet';
@import 'my-product';
@import 'my-order';
@import 'mailing';
@import 'contact';
@import 'rassrochka';
@import 'custom';