<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MDK</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>
<body id='body'>

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="visible-sm-block col-sm-12 hidden-xs">
               <div class="header__logo">
                   <img src="../../images/logo1.png" alt="">
               </div>
           </div>
        </div>
        <div class="row header-inform-container underline">
            <div class="col-sm-3 col-xs-12">
                <ul class="header__time-information">
                    <li><img src="../../images/icons/1.png" alt=""></li>
                    <li>Время работы колл центра: <span>с 09:00 до 17:00 ПН-ПТ </span></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="header__phone">
                    <img src="../../images/icons/2.png" alt="">
                    <ul>
                        <li><a href="tel:(050) 162 08 88">(050) 162 08 88</a></li>
                        <li><a href="tel:(067) 800 10 77">(067) 800 10 77</a></li>
                        <li><a href="tel:(044) 333 71 09">(044) 333 71 09</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 hidden-sm hidden-xs">
                <div class="header__logo">
                    <img src="../../images/logo.png" alt="">
                </div>
            </div>
            <div class="visible-xs-block col-xs-12">
                <div class="header__logo">
                    <img src="../../images/logo1.png" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 hidden-xs header-info">
                <form action="" class="header__searcher">
                    <input type="search" class="header__searcher-input" placeholder="ПОИСК" name="" id="">
                    <button></button>
                </form>
                <a href="">
                    <ul class="header__like">
                        <li>Избранное</li>
                        <li><img src="../../images/icons/heart.png" alt=""></li>
                    </ul>
                </a>
                <a href="" class="popup-btn" data-mfp-src="#logIn-popup">
                    <ul class="header__profile">
                        <li>Вход</li>
                        <li><img src="../../images/icons/4.png" alt=""></li>
                    </ul>
                </a>
                <a href="">
                    <ul class="header__cart">
                        <li>Корзина</li>
                        <li><img src="../../images/icons/5.png" alt=""></li>
                        <p class="in-cart">1</p>
                    </ul>
                </a>
            </div>
            <div class="visible-xs-block col-xs-12">
                <div class="mobile-nav">
                    <div class="burger-menu__wrp">
                        <div class="burger-menu"></div>
                        <p>меню</p>
                    </div>
                    <div class="mobile-nav__enter">
                        <a href="">
                            <ul class="header__profile">
                                <li>Вход</li>
                                <li><img src="../../images/icons/4.png" alt=""></li>
                            </ul>
                        </a>
                        <a href="">
                            <ul class="header__cart">
                                <li>Корзина</li>
                                <li><img src="../../images/icons/5.png" alt=""></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu close">
            <div class="mobile-menu__close"></div>
            <div class="panel-group" id="accordion">
                <!-- 1 панель -->
                <div>
                    <h4 class="mobile-menu__title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">ВЕРХНЯЯ ОДЕЖДА</a>
                    </h4>
                    <div id="collapseOne" class="mobile-menu__collapse collapse">
                    <!-- Содержимое 1 панели -->
                        <div class="mobile-menu__body">
                            <ul class="mobile-menu__links">
                                <li><a href="">Дубленки   </a></li>
                                <li><a href="">Меховые жилеты</a></li>
                                <li><a href="">Кожаные куртки</a></li>
                                <li><a href="">Удлиненные кожанные куртки</a></li>
                                <li><a href="">Утепленные куртки</a></li>
                                <li><a href=""> Парки</a></li>
                                <li><a href=""> Шубы</a></li>
                                <li><a href="">Пальто</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 2 панель -->
                <div>
                    <h4 class="mobile-menu__title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Аксессуары</a>
                    </h4>
                    <div id="collapsTwo" class="mobile-menu__collapse collapse">
                    <!-- Содержимое 2 панели -->
                        <div class="mobile-menu__body">
                            
                        </div>
                    </div>
                </div>
                <!-- 3 панель -->
                <div>
                    <h4 class="mobile-menu__title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Другое</a>
                    </h4>
                    <div id="collapsTwo" class="mobile-menu__collapse collapse">
                    <!-- Содержимое 3 панели -->
                        <div class="mobile-menu__body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row underline">
            <nav class="hidden-xs header__navigation">
                <div class="header__navigation-item">
                    <a href="">Женщины</a>
                    <div class="header__navigation-page">
                        <ul class="header__navigation-page-category">
                            <li>
                                <a href="">ВЕРХНЯЯ ОДЕЖДА</a>
                                <div class="header__navigation-page-links">
                                    <ul>
                                        <li><a href="" data-toggle="img-1">Дубленки</a></li>
                                        <li><a href="" data-toggle="img-2">Меховые жилеты</a></li>
                                        <li><a href="" data-toggle="img-3">Кожаные куртки</a></li>
                                        <li><a href="" data-toggle="img-4">Удлиненные кожанные куртки</a></li>
                                        <li><a href="" data-toggle="img-5">Утепленные куртки</a></li>
                                        <li><a href="" data-toggle="img-6"> Парки</a></li>
                                        <li><a href="" data-toggle="img-7"> Шубы</a></li>
                                        <li><a href="" data-toggle="img-8">Пальто</a></li>
                                    </ul>
                                    <div class="header__navigation-page-links-img img-1"></div>
                                </div>
                            </li>
                            <li>
                                <a href="">Аксессуары</a>
                                <div class="header__navigation-page-links">
                                    <ul>
                                        <li><a href="" data-toggle="img-1">Сумки</a></li>
                                        <li><a href="" data-toggle="img-2">Перчатки</a></li>
                                        <li><a href="" data-toggle="img-3">Шарфы</a></li>
                                        <li><a href="" data-toggle="img-4">Шапки</a></li>
                                    </ul>
                                    <div class="header__navigation-page-links-img img-1"></div>
                                </div>
                            </li>
                            <li><a href="">Другое</a></li>
                        </ul>
                    </div>
                </div>
                 <div class="header__navigation-item">
                    <a href="">Мужчины</a>
                </div>
                 <div class="header__navigation-item">
                    <a href="">Распродажа</a>
                </div>
                 <div class="header__navigation-item">
                    <a href="">Акции</a>
                </div>
                <div class="header__navigation-item">
                    <a href="">Контакты</a>
                </div>
            </nav>
        </div>
    </div>
</header>
<section>
    <div class="container-fluid delivery-container">
        <div class="row">
            <div class="col-sm-12 hidden-xs">
                <ul class="breadcrambs">
                    <li><a href="" target="_blank">Главная →</a></li>
                    <li><a href="" target="_blank">Мой кабинет →</a></li>
                    <li><a href="" target="_blank">Оформление заказа →</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-xs-12">
                <p class="main-title">Оформление заказа</p>
            </div>
            <div class="col-sm-12 col-xs-12">
               <div class="basket__step-title">
                   <p class="active">1.Мой заказ</p>
                   <p>2.Оформление заказа</p>
               </div>
               <form action="">
                   <div class="basket__items-title hidden-xs">
                        <!-- <p></p> -->
                        <p>Название</p>
                        <p>Цена</p>
                        <p>Количество</p>
                        <p>Стоимость</p>
                    </div>
                    <div class="basket__item">
                        <img src="../../images/prod/1.jpg" class="basket__item-img" alt="">
                        <div class="basket__item-info-wrp">
                            <div class="basket__item-name">
                                <p>Куртка кожаная</p>
                                <p class="basket__item-article">Артикул 450944</p>
                            </div>
                            <p class="basket__item-price">9 999 грн</p>
                            <div class="prod-quantity">
                                <span class="minus"></span>
                                <input type="text" value="1" size="5"/>
                                <span class="plus"></span>
                            </div>
                            <p class="basket__item-price hidden-xs">9 999 грн</p>
                        </div>
                        <button class="delete"></button>
                    </div>
                    <div class="basket__promocode-wrp">
                        <ul class="basket__promocode">
                            <li class="basket__promocode-title">Баллы и промокоды</li>
                            <li>
                                <input type="radio" name="promocode" id="promocode1">
                                <label for="promocode1">Использовать баллы <a href="">(как получить карту)</a></label>
                                <div class="question-mark hidden-xs">?</div>
                            </li>
                            <li>
                                <input type="radio" name="promocode" id="promocode2">
                                <label for="promocode2">У меня есть промо-код</label>
                                <div class="question-mark hidden-xs">?</div>
                            </li>
                            <li>
                                <input type="radio" name="promocode" id="promocode3">
                                <label for="promocode3">У меня есть сертификат</label>
                                <div class="question-mark hidden-xs">?</div>
                            </li>
                        </ul>
                        <ul class="promocode-input-wrp">
                            <li class="basket__promocode-title">Введите промо-код</li>
                            <li>
                                <input type="text" class="promocode-input">
                            </li>
                            <li>
                                <button class="promocode-calc-btn">Пересчитать</button>
                            </li>
                        </ul>
                    </div>
                    <p class="basket__total">Итого сумма: <span>29 997 грн</span> </p>
                    <div class="basket__submit-btn-wrp">
                        <button class="basket__submit-btn">Далее </button>
                    </div>
               </form>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <p class="footer__title">Контакты</p>
                <div class="footer__contact">
                    <div class="footer__contact-phones">
                        <img src="../../images/icons/2.png" alt="">
                        <ul class="footer__contact-list footer-list">
                            <li>(050) 162 08 88</li>
                            <li>(067) 800 10 77</li>
                            <li>(044) 333 71 09</li>
                        </ul>
                    </div>
                    <ul class="footer__contact-mail footer-list">
                        <li><img src="../../images/icons/7.png" alt="">mailmdk@gmail.com</li>
                        <li><img src="../../images/icons/8.png" alt=""><a href="">Напишите нам</a></li>
                    </ul>
                </div>
                <ul class="footer__contact-address footer-list">
                    <li><img src="../../images/icons/6.png"</li>
                    <li>ТЦ «Дафи», 2 эт., ул. Героев Труда, 9</li>
                </ul>
            </div>
            <div class="col-md-offset-1 col-md-3 col-sm-3">
                <p class="footer__title">Помощь</p>
                <ul class="footer__links">
                    <li><a href="#">Условия доставки</a></li>
                    <li><a href="#">Условия оплаты</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">Как применить промокод</a></li>
                    <li><a href="#">Вернуть товар. Инструкция</a></li>
                    <li><a href="#"> Отследить посылку</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2">
                <p class="footer__title">Мой кабинет</p>
                <ul class="footer__links">
                    <li><a href="#">Личный Кабинет</a></li>   
                    <li><a href="#">История заказов</a></li>
                    <li><a href="#">Избранное</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2">
                <p class="footer__title">Партнерам</p>
                <ul class="footer__links">
                    <li><a href="#">Оптовый сайт</a></li>   
                    <li><a href="#">Дропшиппинг</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-row">
            <div class="col-md-5 col-sm-4">
                <ul class="footer__social">
                    <li><img src="../../images/icons/9.png" alt="" srcset=""></li>
                    <li><img src="../../images/icons/10.png" alt="" srcset=""></li>
                    <li><img src="../../images/icons/11.png" alt="" srcset=""></li>
                    <li><img src="../../images/icons/12.png" alt="" srcset=""></li>
                </ul>
            </div>
            <div class="col-md-offset-2 col-md-3 col-sm-offset-1 col-sm-4">
                <ul class="footer-delivery-list footer-list">
                    <li><img src="../../images/icons/13.png" alt=""></li>
                    <li> Бесплатная доставка:</li>
                    <li><img src="../../images/icons/np.png" alt=""></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3">
                <ul class="footer-pay-list">
                    <li>
                        <img src="../../images/icons/mc.png" alt="">
                    </li>
                    <li>
                        <img src="../../images/icons/visa.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>