<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MDK</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>
<body id='body'>

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="visible-sm-block col-sm-12 hidden-xs">
               <div class="header__logo">
                    <a href="./index.html"><img src="../../images/logo1.png" alt=""></a>
               </div>
           </div>
        </div>
        <div class="row header-inform-container underline">
            <div class="col-sm-3 col-xs-12">
                <ul class="header__time-information">
                    <li><img src="../../images/icons/1.png" alt=""></li>
                    <li>Время работы колл центра: <span>с 09:00 до 17:00 ПН-ПТ </span></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="header__phone">
                    <img src="../../images/icons/2.png" alt="">
                    <ul>
                        <li><a href="tel:(050) 162 08 88">(050) 162 08 88</a></li>
                        <li><a href="tel:(067) 800 10 77">(067) 800 10 77</a></li>
                        <li><a href="tel:(044) 333 71 09">(044) 333 71 09</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 hidden-sm hidden-xs">
                <div class="header__logo">
                    <img src="../../images/logo.png" alt="">
                </div>
            </div>
            <div class="visible-xs-block col-xs-12">
                <div class="header__logo">
                    <img src="../../images/logo1.png" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 hidden-xs header-info">
                <form action="" class="header__searcher">
                    <input type="search" class="header__searcher-input" placeholder="ПОИСК" name="" id="">
                    <button></button>
                </form>
                <a href="">
                    <ul class="header__like">
                        <li>Избранное</li>
                        <li><img src="../../images/icons/heart.png" alt=""></li>
                    </ul>
                </a>
                <a href="">
                    <ul class="header__profile">
                        <li>Вход</li>
                        <li><img src="../../images/icons/4.png" alt=""></li>
                    </ul>
                </a>
                <a href="">
                    <ul class="header__cart">
                        <li>Корзина</li>
                        <li><img src="../../images/icons/5.png" alt=""></li>
                    </ul>
                </a>
            </div>
            <div class="visible-xs-block col-xs-12">
                <div class="mobile-nav">
                    <div class="burger-menu__wrp">
                        <div class="burger-menu"></div>
                        <p>меню</p>
                    </div>
                    <div class="mobile-nav__enter">
                        <a href="">
                            <ul class="header__profile">
                                <li>Вход</li>
                                <li><img src="../../images/icons/4.png" alt=""></li>
                            </ul>
                        </a>
                        <a href="">
                            <ul class="header__cart">
                                <li>Корзина</li>
                                <li><img src="../../images/icons/5.png" alt=""></li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu close">
            <div class="mobile-menu__close"></div>
            <div class="panel-group" id="accordion">                    
                <!-- 1 панель -->
                <div>
                    <h4 class="mobile-menu__title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">ВЕРХНЯЯ ОДЕЖДА</a>
                    </h4>
                    <div id="collapseOne" class="mobile-menu__collapse collapse">
                    <!-- Содержимое 1 панели -->
                        <div class="mobile-menu__body">
                            <ul class="mobile-menu__links">
                                <li><a href="">Дубленки   </a></li>
                                <li><a href="">Меховые жилеты</a></li>
                                <li><a href="">Кожаные куртки</a></li>
                                <li><a href="">Удлиненные кожанные куртки</a></li>
                                <li><a href="">Утепленные куртки</a></li>
                                <li><a href=""> Парки</a></li>
                                <li><a href=""> Шубы</a></li>
                                <li><a href="">Пальто</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 2 панель -->
                <div>
                    <h4 class="mobile-menu__title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Аксессуары</a>
                    </h4>
                    <div id="collapsTwo" class="mobile-menu__collapse collapse">
                    <!-- Содержимое 2 панели -->
                        <div class="mobile-menu__body">
                            
                        </div>
                    </div>
                </div>
                <!-- 3 панель -->
                <div>
                    <h4 class="mobile-menu__title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Другое</a>
                    </h4>
                    <div id="collapsTwo" class="mobile-menu__collapse collapse">
                    <!-- Содержимое 3 панели -->
                        <div class="mobile-menu__body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row underline">
            <nav class="hidden-xs header__navigation">

                <div class="header__navigation-item">
                    <a href="">Женщины</a>
                    <div class="header__navigation-page">
                        <ul class="header__navigation-page-category">
                            <li>
                                <a href="">ВЕРХНЯЯ ОДЕЖДА</a>
                                <div class="header__navigation-page-links">
                                    <ul>
                                        <li><a href="" data-toggle="img-1">Дубленки</a></li>
                                        <li><a href="" data-toggle="img-2">Меховые жилеты</a></li>
                                        <li><a href="" data-toggle="img-3">Кожаные куртки</a></li>
                                        <li><a href="" data-toggle="img-4">Удлиненные кожанные куртки</a></li>
                                        <li><a href="" data-toggle="img-5">Утепленные куртки</a></li>
                                        <li><a href="" data-toggle="img-6"> Парки</a></li>
                                        <li><a href="" data-toggle="img-7"> Шубы</a></li>
                                        <li><a href="" data-toggle="img-8">Пальто</a></li>
                                    </ul>
                                    <div class="header__navigation-page-links-img img-1"></div>
                                </div>
                            </li>
                            <li>
                                <a href="">Аксессуары</a>
                                <div class="header__navigation-page-links">
                                    <ul>
                                        <li><a href="" data-toggle="img-1">Сумки</a></li>
                                        <li><a href="" data-toggle="img-2">Перчатки</a></li>
                                        <li><a href="" data-toggle="img-3">Шарфы</a></li>
                                        <li><a href="" data-toggle="img-4">Шапки</a></li>
                                    </ul>
                                    <div class="header__navigation-page-links-img img-1"></div>
                                </div>
                            </li>
                            <li><a href="">Другое</a></li>
                        </ul>
                    </div>
                </div>

                 <div class="header__navigation-item">
                    <a href="">Мужчины</a>
                </div>

                 <div class="header__navigation-item">
                    <a href="">Распродажа</a>
                </div>

                 <div class="header__navigation-item">
                    <a href="">Акции</a>
                </div>

                <div class="header__navigation-item">
                    <a href="">Контакты</a>
                </div>

            </nav>
        </div>
    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 hidden-xs">
                <ul class="breadcrambs">
                    <li><a href="">Главная →</a></li>
                    <li><a href="">Женщинам →</a></li>
                    <li><a href=""> Верхняя одежда →</a></li>
                    <li><a href="">Удленненые кожанные куртки</a></li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-5 col-xs-12">
                <!-- <div class="product__static-image hidden-xs" >
                    <img src="../../images/prod/1.jpg"alt="">
                </div>
                <div class="product__static-image hidden-xs" >
                    <img src="../../images/prod/2.jpg"alt="">
                </div> -->
                <div class="product__info-sale visible-xs-block">-20% sale</div>
                <!-- <div class="product__info-new visible-xs-block">new</div> -->
                <div class="slick-slider product-slider" data-slick='{"slidesToShow": 2, "dots": false, "arrows": true, "responsive":[{"breakpoint": 991,"settings":{"slidesToShow": 2}}, {"breakpoint":480,"settings":{"slidesToShow": 1}}]}'>
                    <div>
                        <div class="product-slider__item">
                            <img src="../../images/prod/3.jpg" alt="">
                        </div>
                    </div>
                     <div>
                        <div class="product-slider__item">
                            <img src="../../images/prod/4.jpg" alt="">
                        </div>
                    </div>
                     <div>
                        <div class="product-slider__item">
                            <img src="../../images/prod/5.jpg" alt="">
                        </div>
                    </div>
                     <div>
                        <div class="product-slider__item">
                            <img src="../../images/prod/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 visible-xs-block">
                <ul class="breadcrambs">
                    <li><a href="">Главная →</a></li>
                    <li><a href="">Женщинам →</a></li>
                    <li><a href=""> Верхняя одежда →</a></li>
                    <li><a href="">Удленненые кожанные куртки</a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                <div class="product__info-wrp">
                    <div class="product__info-name-wrp hidden-xs">
                        <div class="product__info-sale">-20% sale</div>
                        <!-- <div class="product__info-new">new</div> -->
                        <p class="product__info-name">Куртка женская DC-1648</p>
                        <p class="product__info-article">Артикул товара: 46692-1</p>
                    </div>
                    <div class="product__info-price-wrp">
                        <p class="product__info-price-old">7 799 грн</p>
                        <p class="product__info-price">6 629 грн</p>
                        <p class="product__info-price-economy">
                            <img src="../../images/icons/econom.png" alt="">
                            <span>Вы экономите 1170 грн</span>
                        </p>
                    </div>
                </div>
                <form action="" class="product__form">
                    <div class="product__form-container">
                        <p class="product__form-title">Выберите цвет:</p>
                    </div>
                    <div class="product__form-container hidden-xs">
                        <input type="radio" name="prod-color" id="prod-color1">
                        <label for="prod-color1" class="product-card__colors-item black"></label>
                        <input type="radio" name="prod-color" id="prod-color2">
                        <label for="prod-color2" class="product-card__colors-item dark-grey"></label>
                        <input type="radio" name="prod-color" id="prod-color3">
                        <label for="prod-color3" class="product-card__colors-item grey"></label>
                        <input type="radio" name="prod-color" id="prod-color4">
                        <label for="prod-color4" class="product-card__colors-item light-grey"></label>
                        <input type="radio" name="prod-color" id="prod-color5">
                        <label for="prod-color5" class="product-card__colors-item peach"></label>
                        <input type="radio" name="prod-color" id="prod-color6">
                        <label for="prod-color6" class="product-card__colors-item brawn"></label>
                        <input type="radio" name="prod-color" id="prod-color7">
                        <label for="prod-color7" class="product-card__colors-item skin"></label>
                        <input type="radio" name="prod-color" id="prod-color8">
                        <label for="prod-color8" class="product-card__colors-item light-skin"></label>
                        <input type="radio" name="prod-color" id="prod-color9">
                        <label for="prod-color9" class="product-card__colors-item red"></label>
                    </div>
                    <div class="product__form-container visible-xs-block">
                        <div class="color-label"></div>
                        <select class="product__select-color chosen-select" name="" id="">
                            <option value="#000" selected="selected" class="select-color-item black"> - черный</option>
                            <option value="#a0a0a0" class="select-color-item dark-grey"> - темно-серый</option>
                            <option value="#dcdcdc" class="select-color-item light-grey"> - светло-серый</option>
                            <option value="#f1af9f" class="select-color-item peach"> - персиковый</option>
                            <option value="#dd9c85" class="select-color-item brawn"> - коричневый</option>
                            <option value="#f1c4a5" class="select-color-item skin"> - бежевый</option>
                            <option value="#f6d4c2" class="select-color-item light-skin"> - светло-бежевый</option>
                            <option value="#ec5464" class="select-color-item red"> - красный</option>
                        </select>
                    </div>
                    <div class="product__form-container size">
                        <p class="product__form-title">Выберите размер:</p>
                        <div class="product__select-size-wrp">
                            <div class="size-label">M</div>
                            <select class="product__select-size chosen-select" name="" id="">
                                <option value="xxs">Small size (39)</option>
                                <option value="xs">Small size (40)</option>
                                <option value="s">Small size (42)</option>
                                <option value="m" selected="selected">Medium size (44-46)</option>
                                <option value="l">Large size (48-50)</option>
                                <option value="xl">Large size (52)</option>
                                <option value="xxl">Large size (54)</option>
                                <option value="xxl">Large size (56)</option>
                                <option value="xxxl">Large size (58)</option>
                            </select>
                       </div>
                    </div>
                    <a class="product__size-table-link popup-btn" data-mfp-src="#sizeTable" href="">Таблица размеров</a>
                    <button type="submit">Купить</button>
                    <a href="" class="product__one-click-btn popup-btn" data-mfp-src="#oneClick">
                        <span> Купить в 1 клик</span>
                    </a>
                    <a href="" class="product__part-pay-btn popup-btn" data-mfp-src="#partPay">
                        <span>Купить частичной оплатой</span> 
                    </a>
                    <a href="" class="product__wishlist-btn">
                        <span>Добавить в избранное</span>
                    </a>
                    <a href="" class="product__full-descr-btn">
                        <span>Полное описание товара</span>
                    </a>
                </form>
                <div class="product__description-wrp">
                    <p class="main-title">Полное описание:</p>

                    <ul class="product__description-tabs nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#characteristics">Характеристики </a></li>
                        <li><a data-toggle="tab" href="#delivery">Доставка</a></li>
                        <li><a data-toggle="tab" href="#garanty">Гарантия</a></li>
                        <li><a data-toggle="tab" href="#pay">Оплата</a></li>
                    </ul>
                    <div class="product__description-tabs-content tab-content">
                        <div id="characteristics" class="tab-pane fade in active">
                            <p class="product__description-color black"> <span class="product__description-name">Цвет:</span> черный</p>
                            <p><span class="product__description-name">Cезон:</span> осень</p>
                            <p class="product__description-material suede"><span class="product__description-name">Сырье:</span> jumbo/замш</p>
                            <p> <span class="product__description-name">Производитель:</span> Турция</p>
                            <p>Описание товара. Женственность, экстравагантность, практичность и комфорт
                                обеспечат новые разработки ведущих дизайнеров. В нашей коллекции собраны
                                трендовые варианты курточек. Популярный данный фасоны<br>
                                Курточка из натуральной кожи – это дорогостоящая вещь. Наш
                                интернет-магазин работает с ведущими производителями высококачественной
                                верхней одежды без посредников. <br>Поэтому цена на предлагаемый товар у нас
                                самая привлекательная.
                                Кроме этого покупателей ждут существенные скидки и подарки.</p>
                            <p>В широком ассортименте представлена женская кожаная куртка для весны
                                и осени. Это элегантные модели из мягкого тонкого материала с необычным
                                декором. Для зимы подойдут изделия средней длины с мехом.Чтобы правильно
                                подобрать размер в каталоге предусмотрена специальная таблица основных
                                параметров тела. Она поможет безошибочно выбрать модель.</p>
                        </div>
                        <div id="delivery" class="tab-pane fade">
                            Доставка
                        </div>
                        <div id="garanty" class="tab-pane fade">
                            Гарантия
                        </div>
                        <div id="pay" class="tab-pane fade">
                            Оплата
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>



<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <p class="footer__title">Контакты</p>
                <div class="footer__contact">
                    <div class="footer__contact-phones">
                        <img src="../../images/icons/2.png" alt="">
                        <ul class="footer__contact-list footer-list">
                            <li>(050) 162 08 88</li>
                            <li>(067) 800 10 77</li>
                            <li>(044) 333 71 09</li>
                        </ul>
                    </div>
                    <ul class="footer__contact-mail footer-list">
                        <li><img src="../../images/icons/7.png" alt="">mailmdk@gmail.com</li>
                        <li><img src="../../images/icons/8.png" alt=""><a href="">Напишите нам</a></li>
                    </ul>
                </div>
                <ul class="footer__contact-address footer-list">
                    <li><img src="../../images/icons/6.png"</li>
                    <li>ТЦ «Дафи», 2 эт., ул. Героев Труда, 9</li>
                </ul>
            </div>
            <div class="col-md-offset-1 col-md-3 col-sm-3">
                <p class="footer__title">Помощь</p>
                <ul class="footer__links">
                    <li><a href="#">Условия доставки</a></li>
                    <li><a href="#">Условия оплаты</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">Как применить промокод</a></li>
                    <li><a href="#">Вернуть товар. Инструкция</a></li>
                    <li><a href="#"> Отследить посылку</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2">
                <p class="footer__title">Мой кабинет</p>
                <ul class="footer__links">
                    <li><a href="#">Личный Кабинет</a></li>   
                    <li><a href="#">История заказов</a></li>
                    <li><a href="#">Избранное</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2">
                <p class="footer__title">Партнерам</p>
                <ul class="footer__links">
                    <li><a href="#">Оптовый сайт</a></li>   
                    <li><a href="#">Дропшиппинг</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-row">
            <div class="col-md-5 col-sm-4">
                <ul class="footer__social">
                    <li><img src="../../images/icons/9.png" alt="" srcset=""></li>
                    <li><img src="../../images/icons/10.png" alt="" srcset=""></li>
                    <li><img src="../../images/icons/11.png" alt="" srcset=""></li>
                    <li><img src="../../images/icons/12.png" alt="" srcset=""></li>
                </ul>
            </div>
            <div class="col-md-offset-2 col-md-3 col-sm-offset-1 col-sm-4">
                <ul class="footer-delivery-list footer-list">
                    <li><img src="../../images/icons/13.png" alt=""></li>
                    <li> Бесплатная доставка:</li>
                    <li><img src="../../images/icons/np.png" alt=""></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3">
                <ul class="footer-pay-list">
                    <li>
                        <img src="../../images/icons/mc.png" alt="">
                    </li>
                    <li>
                        <img src="../../images/icons/visa.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<div class="mfp-hide">
    <div id="oneClick" class="view-popup">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="oneClick__container">
                        <p class="oneClick__container-title">Оставьте свои контакты<br>
                                и наш менеджер свяжется с Вами<br>
                                для оформления заказа</p>
                        <form action="" class="oneClick__container-form">
                            <input placeholder="Ваше имя" type="text" name="name" data-title="Имя">
                            <input type="tel" name="phone" placeholder="Ваш телефон" data-title="Телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер">
                            <button type="submit">Отправить</button>
                        </form>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mfp-hide">
    <div id="partPay" class="view-popup">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="partPay__container">
                       <form action="">
                            <div class="partPay__img">
                                <img src="../../images/mdk-credit.jpg" alt=""><img src="../../images/pb-credit.jpg" alt="">
                            </div>
                            <div class="partPay__form-wrp">
                                <div action="" class="partPay__form">
                                    <p class="hidden-xs">Сумма</p>
                                    <fieldset class="partPay__credit-range-wrp">
                                        <div class="partPay__credit-range price-range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value="0" data-max="100000" data-min="1"></div>
                                        <div class="partPay-inputs__inner">
                                            <p class="visible-xs-block">Сумма</p>
                                            <input type="text" class="partPaysliderValue val1" data-index="0" value="0" />
                                            <p class="visible-xs-block">Сумма</p>
                                        </div>
                                    </fieldset>
                                    <p class="hidden-xs">Сумма</p>
                                </div>
                                <div action="" class="partPay__form">
                                    <p class="hidden-xs">Первый взнос</p>
                                    <fieldset class="partPay__credit-range-wrp">
                                        <div class="partPay__credit-range credit-range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value="0" data-max="101" data-min="0"></div>
                                        <div class="partPay-inputs__inner">
                                            <p class="visible-xs-block">Первый взнос</p>
                                            <input type="text" class="partPaysliderValue val2" data-index="0" value="0" />
                                            <p class="visible-xs-block">%</p>
                                        </div>
                                    </fieldset>
                                    <p class="hidden-xs">%</p>
                                </div>
                                <div action="" class="partPay__form">
                                    <p class="hidden-xs">Cрок</p>
                                    <fieldset class="partPay__credit-range-wrp">
                                        <div class="partPay__credit-range credit-range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value="0" data-max="13" data-min="0"></div>
                                        <div class="partPay-inputs__inner">
                                            <p class="visible-xs-block">Cрок</p>
                                            <input type="text" class="partPaysliderValue val3" data-index="0" value="0" />
                                            <p class="visible-xs-block">Месяцев</p>
                                        </div>
                                    </fieldset>
                                    <p class="hidden-xs">Месяцев</p>
                                </div>
                                <div action="" class="partPay__form">
                                    <p class="hidden-xs">Месячный платеж</p>
                                    <fieldset class="partPay__credit-range-wrp">
                                        <div class="partPay__credit-range credit-range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value="0" data-max="10000" data-min="1000"></div>
                                        <div class="partPay-inputs__inner">
                                            <p class="visible-xs-block">Месячный платеж</p>
                                            <input type="text" class="partPaysliderValue val4" data-index="0" value="0" />
                                            <p class="visible-xs-block">Сумма</p>
                                        </div>
                                    </fieldset>
                                    <p class="hidden-xs">Сумма</p>
                                </div>
                            </div>
                            <p class="partPay__total-title">Ваша сумма:</p>
                            <div class="partPay__total">
                                <p class="partPay__total-date">25.06.2018 ПОНЕДЕЛЬНИК</p>
                                <div class="partPay__total-item">
                                    <p>Сумма:</p>
                                    <div>
                                        <p>10 000</p> 
                                        <span>грн</span>
                                    </div>
                                </div>
                                <div class="partPay__total-item">
                                    <p>Первый взнос:</p>
                                    <div>
                                       <p>0,9</p> 
                                       <span>%</span>
                                    </div>
                                </div>
                                <div class="partPay__total-item">
                                    <p>Срок:</p>
                                    <div>
                                        <p>9</p>
                                        <span>мес.</span>
                                    </div>
                                </div>
                                <div class="partPay__total-item sum">
                                    <p>Оплата в месяц:</p>
                                    <span class="partPay__total-item-sum">1 000 грн</span>
                                </div>
                                <div class="partPay__total-item sum">
                                    <p>Всего:</p>
                                    <span class="partPay__total-item-sum">10 090 грн</span>
                                </div>
                            </div>
                            <div class="partPay__bnt-wrp">
                                <button type="submit" class="partPay__btn">Получить кредит</button>
                                <button class="partPay__promocode-btn">У меня есть промокод</button>
                            </div>
                       </form>
                        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mfp-hide">
    <div id="sizeTable" class="view-popup">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="sizeTable__container-wrp">
                        <p class="main-title">Таблица размеров</p>
                        <div class="sizeTable__container">
                            <img src="../../images/model.jpg" class="hidden-xs" alt="">
                            <div class="sizeTable__table">
                                <ul>
                                    <li class="sizeTable__table-row-title">Обхват груди</li>
                                    <li>80</li>
                                    <li>84</li>
                                    <li>88</li>
                                    <li>92</li>
                                    <li>96</li>
                                    <li>100</li>
                                </ul>
                                <ul>
                                    <li class="sizeTable__table-row-title">Обхват талии</li>
                                    <li>62</li>
                                    <li>66</li>
                                    <li>70</li>
                                    <li>74</li>
                                    <li>78</li>
                                    <li>82</li>
                                </ul>
                                <ul>
                                    <li class="sizeTable__table-row-title">Обхват бедер</li>
                                    <li>86</li>
                                    <li>90</li>
                                    <li>94</li>
                                    <li>98</li>
                                    <li>102</li>
                                    <li>106</li>
                                </ul>
                            </div>
                        </div>
                        <ul class="sizeTable__table-row-letter">
                            <li></li>
                            <li class="sizeTable__table-row-title">Европейский размер</li>
                            <li>32 <sup>(XXS)</sup></li>
                            <li>34 <sup>(XS)</sup></li>
                            <li>36 <sup>(S)</sup></li>
                            <li>38 <sup>(M)</sup></li>
                            <li>40 <sup>(L)</sup></li>
                            <li>42 <sup>(XL)</sup></li>
                        </ul>
                        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
